body {
  background-color: black;
  font-weight: bolder;
}

.container {
  box-shadow: gray 0px 0px 50px 10px;
  max-width: 400px;
  margin: 20vh auto 0 auto;
  border-radius: 10px;
  padding: 20px;
}

#display {
  text-align: right;
  height: 10vh;
  width: 377px;
  line-height: 100px;
  font-size: 30px;
  padding: 20px 10px;
  background-color: white;
}

.buttons {
  display: grid;
  border: 1px solid white;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: blue;
}

.btn {
  text-align: center;
  font-size: 25px;
  border: 1px solid white;
  cursor: pointer;
  color: black;
  background-color: orange;
}

#equals {
  background-color: rgba(165, 165, 233, 0.233);
  color: white;
  grid-column: span 2;
}

#plus {
  grid-row: span 2;
}
